<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="web.config" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
