/*Global*/
@import url(/src/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Mono";
    cursor: url(/assets/cursor/mouse_cursor.png), auto !important;
}

html {
    width: 100%;
    height: 100%;
    overflow: overlay;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 17px;
    display: block;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    display: block;
    background: #495670;
    background-clip: padding-box;
    border-width: 20px 7px 20px 7px;
    border-style: solid;
    border-color: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::selection {
    background-color: #233554;
    color: #ccd6f6;
}

body {
    background: #0a192f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body::before,
body::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100vh;
    width: 100%;
    background: transparent;
    z-index: 12;
    border-radius: 5px;
    margin: auto;
    position: relative;
}

#root .navbar {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 35px 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu {
    display: flex;
    flex-wrap: wrap;
}

.navbar .menu li {
    list-style: none;
    margin: 0 54px;
}

.navbar .menu .Projects {
    margin-right: 0px !important;
}

.navbar .menu .Home {
    margin-left: 0px !important;
}

.navbar .menu a {
    color: #ccd6f6;
    text-decoration: none;
    font-size: 17.5px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar .menu a .NavNum {
    color: #64FFDA;
    font-size: 17.7px;
    margin-right: 4px;
}

.navbar .menu a:hover {
    color: #64FFDA;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#root .content {
    top: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    position: absolute;
    color: rgb(255, 255, 255);
    width: 100%;
    min-height: 100%;
}

/*Global end*/
/*Home*/
.StyledTextSection {
    width: 40%;
    margin-left: 20%;
}

.StyledTextSection .SmallHeading {
    color: #64FFDA;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.StyledTextSection .SmallHeading p {
    font-family: "SF Mono";
}

.StyledTextSection .BigHeading {
    color: #ccd6f6;
    font-size: 60px;
    font-weight: 600;
    font-family: Lexend;
    transition-delay: 200ms;
    margin-top: 15px;
}

.StyledTextSection .BigHeading2 {
    color: #8892b0;
    font-size: 55px;
    font-family: Lexend;
    transition-delay: 300ms;
    font-weight: 600;
    position: relative;
    top: 10px;
}

.StyledTextSection .StyledIntro {
    top: 35px;
    position: relative;
    font-family: Lexend;
    transition-delay: 400ms;
}

/*Home end*/
/*About*/
.StyledAboutTextSection {
    width: 30%;
    margin-left: 20%;
}

.StyledAboutTextSection .Heading {
    position: relative;
    margin: 10px 0px 40px;
    color: #ccd6f6;
    font-size: 32px;
    font-weight: 600;
    font-family: Lexend;
    transition-delay: 200ms;
    margin-top: 15px;
}

.StyledAboutTextSection .Heading::after {
    content: "";
    display: block;
    position: relative;
    top: -16px;
    left: 236.08px;
    width: 339.92px;
    height: 1px;
    background-color: #233554;
}

.StyledAboutTextSection .StyledTextAbout {
    top: 20px;
    position: relative;
    font-family: Lexend;
    transition-delay: 400ms;
}

.StyledSkillsList ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    position: relative;
    top: 50px;
    overflow: hidden;
    list-style: none;
    font-weight: 900;
    color: #8892B0;
}

.StyledSkillsList ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.StyledSkillsList ul.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #64ffDA;
    font-size: 12px;
    line-height: 12px;
}

.StyledImageSection {
    margin-left: 200px;
}

/*About end*/
/*Projects*/
main.fillHeight {
    padding: 0px 150px;
}

section {
    margin: 0px auto;
    padding: 250px 0px 100px 0px;
    max-width: 1000px;
}

.heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    font-family: Lexend;
    width: 100%;
    font-size: 32px;
    color: #ccd6f6;
    white-space: nowrap;
}

.heading::after {
    content: "";
    display: block;
    position: relative;
    top: -50%;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

img,
svg,
.image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
    vertical-align: middle;
}

svg.feather {
    fill: none;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover,
a:focus {
    color: #64ffda;
}

a.inline-link {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #64ffda;
}

a.inline-link:hover,
a.inline-link:focus,
a.inline-link:active {
    color: #64ffda;
    outline: 0px;
}

a.inline-link:hover::after,
a.inline-link:focus::after,
a.inline-link:active::after {
    width: 100%;
}

a.inline-link:hover>*,
a.inline-link:focus>*,
a.inline-link:active>* {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #64ffda !important;
}

a.inline-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: #64ffda;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

p {
    margin: 0px 0px 15px;
    font-family: Lexend;
}

p:last-child,
p:last-of-type {
    margin: 0px;
}

p>a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #64ffda;
}

p>a:hover,
p>a:focus,
p>a:active {
    color: #64ffda;
    outline: 0px;
}

p>a:hover::after,
p>a:focus::after,
p>a:active::after {
    width: 100%;
}

p>a:hover>*,
p>a:focus>*,
p>a:active>* {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #64ffda !important;
}

.StyledProjectsGrid {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.StyledProjectsGrid a {
    font-family: Lexend;
    position: relative;
    z-index: 1;
}

.StyledProject {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.StyledProject:not(:last-of-type) {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .StyledProject:not(:last-of-type) {
        margin-bottom: 70px;
    }
}

@media (max-width: 480px) {
    .StyledProject:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

.StyledProject:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

@media (max-width: 1080px) {
    .StyledProject:nth-of-type(2n+1) .project-content {
        grid-column: 5 / -1;
    }
}

@media (max-width: 768px) {
    .StyledProject:nth-of-type(2n+1) .project-content {
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .StyledProject:nth-of-type(2n+1) .project-content {
        padding: 25px 25px 20px;
    }
}

.StyledProject:nth-of-type(2n+1) .project-tech-list {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .StyledProject:nth-of-type(2n+1) .project-tech-list {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}

.StyledProject:nth-of-type(2n+1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}

@media (max-width: 768px) {
    .StyledProject:nth-of-type(2n+1) .project-tech-list li {
        margin: 0px 10px 5px 0px;
    }
}

.StyledProject:nth-of-type(2n+1) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}

@media (max-width: 768px) {
    .StyledProject:nth-of-type(2n+1) .project-links {
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: -10px;
        margin-right: 0px;
    }
}

.StyledProject:nth-of-type(2n+1) .project-image {
    grid-column: 1 / 8;
}

@media (max-width: 768px) {
    .StyledProject:nth-of-type(2n+1) .project-image {
        grid-column: 1 / -1;
    }
}

.StyledProject .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

@media (max-width: 1080px) {
    .StyledProject .project-content {
        grid-column: 1 / 9;
    }
}

@media (max-width: 768px) {
    .StyledProject .project-content {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        height: 100%;
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        z-index: 5;
    }
}

@media (max-width: 480px) {
    .StyledProject .project-content {
        padding: 30px 25px 20px;
    }
}

.StyledProject .project-overline {
    margin: 10px 0px;
    color: #64ffda;
    font-family: "SF Mono";
    font-size: 13px;
    font-weight: 400;
}

.StyledProject .project-title {
    color: #ccd6f6;
    font-size: clamp(24px, 5vw, 28px);
}

@media (min-width: 768px) {
    .StyledProject .project-title {
        margin: 0px 0px 20px;
    }
}

@media (max-width: 768px) {
    .StyledProject .project-title {
        color: #e6f1ff;
    }

    .StyledProject .project-title a {
        position: static;
    }

    .StyledProject .project-title a::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }
}

.StyledProject .project-description {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: #112240;
    color: #a8b2d1;
    font-size: 18px;
}

.StyledProject .project-description p {
    text-align: justify;
}

.StyledProject .project-description:hover,
.StyledProject .project-description:focus {
    box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
}

@media (max-width: 768px) {
    .StyledProject .project-description {
        padding: 20px 0px;
        background-color: transparent;
        box-shadow: none;
    }

    .StyledProject .project-description:hover {
        box-shadow: none;
    }
}

.StyledProject .project-description a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #64ffda;
}

.StyledProject .project-description a:hover,
.StyledProject .project-description a:focus,
.StyledProject .project-description a:active {
    color: #64ffda;
    outline: 0px;
}

.StyledProject .project-description a:hover::after,
.StyledProject .project-description a:focus::after,
.StyledProject .project-description a:active::after {
    width: 100%;
}

.StyledProject .project-description a:hover>*,
.StyledProject .project-description a:focus>*,
.StyledProject .project-description a:active>* {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #64ffda !important;
}

.StyledProject .project-description a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: #64ffda;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

.StyledProject .project-description strong {
    color: #e6f1ff;
    font-weight: normal;
}

.StyledProject .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.StyledProject .project-tech-list li {
    margin: 0px 20px 5px 0px;
    color: #a8b2d1;
    font-family: "SF Mono";
    font-size: 13px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .StyledProject .project-tech-list {
        margin: 10px 0px;
    }

    .StyledProject .project-tech-list li {
        margin: 0px 10px 5px 0px;
        color: #ccd6f6;
    }
}

.StyledProject .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: #ccd6f6;
}

.StyledProject .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}

.StyledProject .project-links a:hover {
    transform: translateY(-3px);
}

.StyledProject .project-links a.external svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
}

.StyledProject .project-links a svg {
    width: 20px;
    height: 20px;
}

.StyledProject .project-links .cta {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-size: 13px;
    font-family: "SF Mono";
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin: 10px;
}

.StyledProject .project-links .cta:hover,
.StyledProject .project-links .cta:focus,
.StyledProject .project-links .cta:active {
    background-color: rgba(100, 255, 218, 0.1);
    outline: none;
}

.StyledProject .project-links .cta::after {
    display: none !important;
}

.StyledProject .project-image {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

.StyledProject .project-image:hover,
.StyledProject .project-image:focus {
    box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
}

@media (max-width: 768px) {
    .StyledProject .project-image {
        grid-column: 1 / -1;
        height: 100%;
        opacity: 0.25;
    }
}

.StyledProject .project-image a {
    width: 100%;
    height: 100%;
    background-color: #64ffda;
    border-radius: 4px;
    vertical-align: middle;
}

.StyledProject .project-image a:hover,
.StyledProject .project-image a:focus {
    background: transparent;
    outline: 0px;
}

.StyledProject .project-image a:hover::before,
.StyledProject .project-image a:focus::before,
.StyledProject .project-image a:hover .img,
.StyledProject .project-image a:focus .img {
    background: transparent;
    filter: none;
}

.StyledProject .project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #0a192f;
    mix-blend-mode: screen;
}

.StyledProject .project-image .img {
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
}

@media (max-width: 768px) {
    .StyledProject .project-image .img {
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(50%);
    }
}


a {
    position: relative;
    z-index: 1;
}

.project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: -10px;
    color: #a8b2d1;
}

.project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
}

.project-links a.external svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
}

.project-links a svg {
    width: 20px;
    height: 20px;
}

.project-title {
    margin: 0px 0px 10px;
    color: #ccd6f6;
    font-size: 22px;
}

.project-title a {
    position: static;
}

.project-title a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.project-description {
    color: #a8b2d1;
    font-size: 17px;
}

.project-description a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #64ffda;
}

.project-description a:hover,
.project-description a:focus,
.project-description a:active {
    color: #64ffda;
    outline: 0px;
}

.project-description a:hover::after,
.project-description a:focus::after,
.project-description a:active::after {
    width: 100%;
}

.project-description a:hover>*,
.project-description a:focus>*,
.project-description a:active>* {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #64ffda !important;
}

.project-description a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: #64ffda;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

.project-tech-list {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.project-tech-list li {
    font-family: "SF Mono";
    font-size: 12px;
    line-height: 1.75;
}

.project-tech-list li:not(:last-of-type) {
    margin-right: 15px;
}

/*Global*/

.StyledSocialSection {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #a8b2d1;
}

.SocialLinks {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.SocialLinks li {
    margin-bottom: 20px;
}

.SocialLinks li a {
    padding: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.SocialLinks li a:hover,
.SocialLinks li a:focus {
    transform: translateY(-3px);
}

.SocialLinks li a svg {
    width: 20px;
    height: 20px;
}

svg.feather {
    fill: none;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
    vertical-align: middle;
}

.SocialLinks::after {
    content: "";
    display: block;
    width: 1px;
    height: 120px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.StyledMailSection {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: #a8b2d1;
}

.MailContent {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.MailContent a {
    margin: 20px auto;
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.MailContent a:hover,
.MailContent a:focus {
    transform: translateY(-3px);
}

a:hover,
a:focus {
    color: #64FFDA;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.MailContent::after {
    content: "";
    display: block;
    width: 1px;
    height: 120px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

/*golbal end*/